<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Année</th>
        <th scope="col">Nombre de français dans ce pays</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'show' %>

    </tbody>
  </table>
</div>