<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Pays (Fr)</th>
        <th scope="col">Coordonnées de l'ambassade</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'show' %>

    </tbody>
  </table>
</div>